<!-- <script data-goatcounter="https://pporeddy.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
<script data-goatcounter="https://pporeddy.goatcounter.com/count" data-goatcounter-settings='{"allow_local": true}'
    async src="//gc.zgo.at/count.js">
    </script>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">