{{ $goatcounterUrl := printf "https://pporeddy.goatcounter.com/counter/%s.json" (.Permalink | urlquery) }}
<span class="goatcounter-views">
    <script>
        var r = new XMLHttpRequest();
        r.addEventListener('load', function () {
            var data = JSON.parse(this.responseText);
            if (data && data.count_unique) {
                // Display the unique visitor count
                document.getElementById('gc-{{ .File.UniqueID }}').innerText = data.count_unique + ' views';
            }
        })
        r.open('GET', '{{ $goatcounterUrl }}')
        r.send()
    </script>
    <span id="gc-{{ .File.UniqueID }}" title="Page views"></span>
</span>